:root{
  --lightPurple : #5f5d60;
}

*{
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Lucida Grande";
}

a {
  text-decoration: none;
}

.clear {
  clear: left;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.top-wrapper {
  height: 725px;
  padding: 180px 0 100px 0;
  background-image: url(./assets/top.jpg);
  background-size: cover;
  color: white;
  text-align: center;
  
}

.top-wrapper h1 {
  opacity: 0.7;
  font-size: 45px;
  letter-spacing: 5px;
  margin-bottom: 10px;
}

.top-wrapper p {
  opacity: 0.7;
  margin-bottom: 3px;
}

.btn-wrapper {
  text-align: center;
  margin: 20px 0;
}

.btn-wrapper p {
  margin: 10px 0;
}

.signup {
  background-color: #239b76;
}

.facebook {
  background-color: #3b5998;
  margin-right: 10px;
}

.twitter {
  background-color: #55acee;
}

.btn {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  text-align: center;
}

.btn:hover {
  opacity: 1;
}

.fa {
  margin-right: 5px;
}

header {
  height: 65px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
  position :fixed;
  top: 0;
  z-index: 10;
}

.header-left .fa-solid{
  color: white;
}

.header-left h1 {
  width: 200px;
  margin-top: 15px;
  color : white
}

.header-left {
  float: left;
}


.header-right {
  float: right;
  margin-right: -25px;
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-right a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.menu-icon{
  color: white;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  display: none;
}

.lesson-wrapper {
  height: 450px;
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #f7f7f7;
  text-align: center;
}

.heading {
  padding-top: 80px;
  padding-bottom: 50px;
  color: var(--lightPurple);
}


.heading h2 {
  font-weight: normal;
}

.lesson {
  float: left;
  width: 25%;
}

.lesson-icon {
  position: relative;
  cursor: pointer;
  /* align-items: center; */
}

.lesson-icon .card:hover{
  /* filter: blur(2px); */
  width: 240px;
  height: 300px;
  transition: 0.5s;
}

.lesson-icon img {
  width: 200px;
  height: 250px;
  border-radius: 10px;
  object-fit: cover;
  transition: 0.5s;
}

/* .lesson-icon img :hover {
  width: 200px;
  height: 250px;
  border-radius: 10px;
  object-fit: cover;
  top :20px;
} */

.card{
}

.lesson-icon p {
  position: absolute;
  top: 44%;
  width: 100%;
  color: white;
  font-weight: bold;
  -webkit-text-stroke-width: 0.3px;
  -webkit-text-stroke-color: black;
}

.text-contents {
  width: 80%;
  display: inline-block;
  margin-top: 15px;
  font-size: 15px;
  color: #b3aeb5;
}

.heading h3 {
  font-weight: normal;
}

.message-wrapper {
  height : 500px;
  border-bottom: 1px solid #eee;
  padding-bottom: 80px;
  text-align: center;
}

.message {
  padding: 15px 40px;
  background-color: #240030;
  cursor: pointer;
  box-shadow: 0 7px #0e0014;
  border-radius: 50px;
}

.message:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}

footer h1 {
 color:  var(--lightPurple);
}

footer p {
  color: #b3aeb5;
  font-size: 12px;
}

footer {
  /* height: 120px; */
  padding-top: 30px;
  padding-bottom: 20px;

}

footer .container{
  float: left;
  padding-left: 170px;
}

.footer-right{
  float : right;
  padding-right: 170px;
}

.footer-right h2{
  font-size: 14px;
 color : var(--lightPurple);
}